<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <script>
        let date = new Date();
        let hours = date.getHours();
        if(hours >= 16 && hours <= 20){
            document.querySelector('h1').innerText = 'Good Evening <%= name %>';
        }
        else if(hours >= 12 && hours <= 16){
            document.querySelector('h1').innerText = 'Good Afternoon <%= name %>';
        }
        else if(hours >= 4 && hours <= 12){
            document.querySelector('h1').innerText = 'Good Morning <%= name %>';
        }
        else{
            document.querySelector('h1').innerText = 'Good Night <%= name %>';
        }
    </script>
</body>
</html>